language: php

php:
    - 5.3
    - 5.4
    - 5.5

before_script:
    - composer require satooshi/php-coveralls:dev-master --dev --prefer-source

script:
    - mkdir -p build/logs
    - phpunit -v --coverage-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls -v
    - wget https://scrutinizer-ci.com/ocular.phar
    - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml