<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	strict="true"
	verbose="true">

	<testsuites>
		<testsuite name="PHPUnit">
			<directory>tests/aik099/PHPUnit</directory>
		</testsuite>
	</testsuites>

	<!--<logging>
		<log type="coverage-html" target="build/coverage" title="BankAccount"
			 charset="UTF-8" yui="true" highlight="true"
			 lowUpperBound="35" highLowerBound="70"/>
	</logging>-->

	<php>
		<server name="WEB_FIXTURES_URL" value="http://phpunit-mink.test.dev"/>
		<server name="WEB_FIXTURES_BROWSER" value="firefox"/>
		<server name="WEB_FIXTURES_HOST" value="localhost"/>
		<server name="WEB_FIXTURES_PORT" value="4444"/>

		<server name="WEB_FIXTURES_SAUCE_USERNAME" value=""/>
		<server name="WEB_FIXTURES_SAUCE_API_KEY" value=""/>
	</php>

	<filter>
		<whitelist>
			<directory>library/aik099</directory>
		</whitelist>
	</filter>
</phpunit>
