name: Docs

on:
  push:
    paths: ['docs/**', '.github/workflows/docs.yml', '.readthedocs.yaml']
  pull_request:
    paths: ['docs/**', '.github/workflows/docs.yml', '.readthedocs.yaml']

defaults:
  run:
    shell: bash

jobs:

  tests:
    name: Tests
    runs-on: Ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Python
        uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
            pip install Sphinx sphinx_rtd_theme


      - name: Run tests
        run: |
          sphinx-build -nW -b html -d docs/build/doctrees docs docs/build/html
